---
const today = new Date();
---

<footer>
  <div class="content">
    <!-- &copy; {today.getFullYear()} Your name here. All rights reserved. -->
    <p>
      &copy; 1983-until the sun explodes French Hallway. All rights reserved. Do
      not monetize any content on this site, for example, by reproducing it in
      your product or training your services with the data.
    </p>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: var(--pine);
    color: var(--sand);
    text-align: center;
    font-size: 14px;
  }

  div.content {
    width: 720px;
    max-width: calc(100% - 32px);
    margin: auto;
    padding: 0 16px;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: var(--mint);
  }
  .social-links a:hover {
    color: var(--white-full);
  }
</style>
